@model IEnumerable<StorefrontUI2.Models.LineItemVM>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body>

    <a href="@Url.Action("BuyItems", "Order")" class="btn btn-primary"> Checkout</a>
        <table class="table">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Cost
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(ModelItem => item.ProductName.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName.Price)
                </td>
            </tr>
        }
    </tbody>
    
    </table>
    <a asp-action="MakeOrder" class="btn btn-danger" style="position:relative; top:15px; width:100px">Back</a>

</body>
</html>